<h1 mat-dialog-title *ngIf="!isEditForm">Create TV show</h1>
<h1 mat-dialog-title *ngIf="isEditForm" >Update TV show</h1>
<div mat-dialog-content>

   <form [formGroup]="showForm" class="example-form">

        <mat-form-field class="full-width" appearance="fill">
            <mat-label appearance="standard">Name</mat-label>
            <input matInput id="name" type="text" formControlName="name" placeholder="Show name">
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Description</mat-label>
            <textarea matInput type="text" formControlName="description" placeholder="Show description"></textarea>
        </mat-form-field>
   </form>

</div>
<mat-dialog-actions>
    <button mat-raised-button mat-dialog-close *ngIf="!isEditForm" [disabled]="!showForm.valid" (click)="createShow()">Create</button>
    <button mat-raised-button mat-dialog-close *ngIf="isEditForm"  [disabled]="!showForm.valid" (click)="updateShow()">Update</button>
    <button mat-raised-button mat-dialog-close>Close</button>
</mat-dialog-actions>